# Default ignored files
/shelf/
/.idea/
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
target/
/tileboard-serial-protocol/target/
/tileboard-app/target/
/tileboard-game-engine/target/
.DS_Store
/identifier.sqlite
/tileboard-app/data/tileboard.mv.db
/data/tileboard.mv.db
/tileboard-app/data/app.db
/data/app.db
/app.db
